<!DOCTYPE html>
<html>
<body>
  <div class="container">

      <h1>About</h1>
      
  	<blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a scelerisque felis, at consequat tortor. Aliquam erat volutpat. Donec sollicitudin, nulla id cursus ornare, urna enim vehicula lectus, in euismod elit ligula euismod nibh..” </blockquote>

  	<%= image_tag("/assets/background-image.jpg") %>
  	<br><br>
  	<div class="box">
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a scelerisque felis, at consequat tortor. Aliquam erat volutpat. Donec sollicitudin, nulla id cursus ornare, urna enim vehicula lectus, in euismod elit ligula euismod nibh. Suspendisse eget diam augue. Curabitur semper leo varius quam consequat, at interdum ipsum egestas. Etiam laoreet erat ut condimentum tempus. Donec elementum sed enim volutpat iaculis. Vestibulum eu laoreet libero. Fusce egestas turpis ac semper malesuada. Suspendisse elit augue, suscipit in ultrices scelerisque, sagittis quis mi. Donec egestas tempus risus, ac fermentum lectus fringilla in.
	  </div>
  </div>  
</body>
</html>


