<!DOCTYPE html>
<html>
  <div class="container">
  	<div class="vertical-center">
      <h1 class="welcome-title">Welcome to Food Management app!</h1>"
      <%= link_to("See all foods", foods_path, :class => "button")%>
    </div>
  </div>
  <body>
  </body>
</html>


