// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h1 {
    
    color: white;
    text-align: center;
    margin: auto;
    font-size: 74px;
}

.page-title{

	margin: auto;
	vertical-align: middle;
	padding-left: 20px;
  padding-bottom: auto;

}

 .button, [type="button"], [type="submit"], [type="reset"],
  a.button, label.button, .button,
  a[role="button"], label[role="button"], [role="button"] {
    display: inline-block;
    background: #99004d;
    color: #fff;
    border: 0;
    border-radius: 0.1875rem;
    padding: 0.625rem 1.875rem;
    margin: 1.5rem;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
  }

.edit-box{
  padding-top: 4px;
  width: 800px;
  background-color: #445e88;
  height: 320px;
  margin: 0px auto; 

}